<!--
  My name: Thuan An Quan
  Student number: 301101604
  Program: Software Engineering Technology
  Course: Web Application Development - Section 008
  Date: October 2nd, 2022
-->

<nav class="navbar fixed-bottom navbar-dark bg-secondary">
    <h5 class="display-5 navbar-text">&copy; Copyright 2022. All Rights reserved. Thuan An Quan 301101604 Assignment 1</h5>
</nav>  