<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs'); %>
</head>
<body class="bg-light">
  <header>
    <%- include('partials/header.ejs'); %>
  </header>
  
  <main class="container">
    <div class="edit2">
      <h1 id="size1" class="display-4 text-center"><b>Welcome to my <%= title %></b></h1>
    </div>
  </main>

  <div></div>
  
  <footer>
    <%- include('partials/footer.ejs'); %>  
  </footer>
  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>