<!--
  My name: Thuan An Quan
  Student number: 301101604
  Program: Software Engineering Technology
  Course: Web Application Development - Section 008
  Date: October 2nd, 2022
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs'); %>
</head>
<body class="bg-light">
  <header>
    <%- include('partials/header.ejs'); %>
  </header>
  
  <main class="container">
    <div class="edit2">
      <h1 id="size1" class="display-4 text-center"><b>Welcome to my <%= title %></b></h1>
    </div>
  </main>

  <div class="edit4">
    <h3>Thuan An Quan - Anson Quan - Software Engineer / Developer</h3>
    <img class="edit5" src="/assets/images/Anson.jpg">
    <p>
      I am a Software Engineer student who currently study in third semester in Centennial College.	
      I have foundational knowledge of writing, developing, testing, and designing various software applications, websites, and other information systems.
      Knowledgeable of web application design, database management and algorithms concepts.<br>
      I also proficiency in Java, Python, HTML/CSS, JavaScript, SQL, Unix/Linux, MongoDB, Node.js, Git, C, C#. 
      Furthermore, I know 4 different languages: English, Cantonese, Mandarin, and Vietnamese, so it helps me a lot in building a worldwide relationships in my daily life.<br>
      In my free time, I love to playing sports, hanging out with friends, and travelling to different places, understanding different cultures and people.<br>
      Also, here is my Resume, please have a look:<br>
      <a class="edit8" href="ThuanAnQuan_Software Developer Resume.pdf" type="application/pdf"><h4><i class="fa-regular fa-file"></i> Software Developer Resume</a></h4>
    </p>
  </div>
  
  <footer>
    <%- include('partials/footer.ejs'); %>  
  </footer>
  
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>