<!--
  My name: Thuan An Quan
  Student number: 301101604
  Program: Software Engineering Technology
  Course: Web Application Development - Section 008
  Date: October 2nd, 2022
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


